src/main/resources/xml/professor.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="professor">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="professor">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:byte" name="userId"/>
                            <xs:element type="xs:string" name="name"/>
                            <xs:element type="xs:string" name="surname"/>
                            <xs:element type="xs:int" name="personalId"/>
                            <xs:element type="xs:string" name="email"/>
                            <xs:element type="xs:string" name="degree"/>
                        </xs:sequence>
                        <xs:attribute type="xs:byte" name="professorId"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>